
.idea/

g2p_models_backup/

docs/build/

dictionary/temp/

training/
staging/
generated/

dictionary/filter_lists/

scripts/temp/
/scripts/token

*.db

*.pyc

*.pclprof
.Rproj.user

*.Rproj

scripts/corpus_prep/temp/
