
/* use Gentium Plus - Regular in .woff format */
@font-face {
  font-family: GentiumPlusW;
  src: url(../fonts/GentiumPlus-Regular.woff2);
}
/* use Gentium Plus - Italic in .woff2 format */
@font-face {
  font-family: GentiumPlusW;
  font-style: italic;
  src: url(../fonts/GentiumPlus-Italic.woff2);
}
/* use Gentium Plus - Bold in .woff2 format */
@font-face {
	font-family: GentiumPlusW;
	font-weight: bold;
	src: url(../fonts/GentiumPlus-Bold.woff2);
}
/* use Gentium Plus - Bold Italic in .woff2 format */
@font-face {
	font-family: GentiumPlusW;
	font-weight: bold;
	font-style: italic;
	src: url(../fonts/GentiumPlus-BoldItalic.woff2);
}

.container, .container-xl, .container-lg {
    max-width: 2000px !important;
}
.wy-table-responsive table td {
    white-space: normal !important;
}
.wy-table-responsive {
    overflow: visible !important;
}
.wy-table-responsive table td,
.wy-table-responsive table th {
  white-space: normal;
}

div.dataTables_wrapper{
display: block;
   overflow: visible;
}

table.dataTable.consonant-chart, table.dataTable.vowel-chart {
display: table;
overflow: visible;
table-layout: fixed;
}
table.dataTable.consonant-chart tbody td, table.dataTable.vowel-chart tbody td {
    padding: 0.2em;
}
table.dataTable.vowel-chart{
width: auto;
}
table.dataTable.consonant-chart{
width: 100%;
}

.submanner {
font-weight: normal;
float: right
}
.manner {
float: left;
}

.consonant-chart td, .vowel-chart td {
vertical-align: middle;
text-align: center;
}

table.consonant-chart thead th, table.consonant-chart thead td {
padding: 0.4em 0.5em;
overflow: hidden;
text-overflow: ellipsis;
}

.ipa-phone {
  position: relative;
  display: block;
}
.ipa-cell {
display: flex;
    justify-content: space-between;
    align-items: center;
}
.ipa-cell.ipa-sonorant{
justify-content: center;
}
.ipa-rounded, .ipa-unrounded, .ipa-voiceless, .ipa-voiced, .ipa-other{
min-width: 35%;
}
.ipa-divider{
min-width: 10%;
line-height:1;
}

.tooltip {
}

/* Tooltip text */
.ipa-phone .ipa-tooltip {
  visibility: hidden;
  width: auto;
  top: 100%;
  left: 50%;
  background-color: #001D3D;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  transform: translate(-50%);
}

.ipa-tooltip-line {
    display: flex;
    justify-content: space-between;
padding-left: 10px;
padding-right: 10px;
white-space: nowrap;
}

.ipa-second-level{
margin-left:10px;
}

.ipa-phone-text, .ipa-transcription, .ipa-bracket, ipa-inline, table.need code.docutils.literal {
  font-family: "GentiumPlusW";
  font-size: 1.1em;
  font-weight: 500;
 }

table.need code.docutils.literal span.pre {
margin: 0em 0.2em
color: #7AB5E6;
}

.ipa-transcription, .ipa-bracket {
color: #7AB5E6;
}

.ipa-highlight, ipa-inline {
color: rgba(var(--pst-color-inline-code),1);
}

.ipa-tooltip-key {
font-weight: bold;
color: #F2BC0C;
margin-right: 10px;
}

.ipa-tooltip-value {
font-weight: bold;
color: rgba(var(--pst-color-inline-code),1);
font-family: var(--pst-font-family-monospace);
}

.lexical-set {
font-variant: small-caps;
}

.ipa-phone-checkbox {
display: none;
}

.ipa-empty{
    background-color: #000814;
}

.ipa-phone-text {
border: solid 1px #000814;
background-color: #0E63B3;
color: #FFD60A;
font-size: 1.1em;
margin: 5%;
display: block;
}

.ipa-phone-text:hover, .ipa-phone-checkbox:checked + .ipa-phone-text {
border: solid 1px #000814;
background-color: #FFC300;
color: #000814;
}

/* Show the tooltip text when you mouse over the tooltip container */
.ipa-phone-text:hover + .ipa-tooltip, .ipa-phone-checkbox:checked ~ .ipa-tooltip {
  visibility: visible;
}

.sd-btn-primary{
font-weight: bold;
}

.sd-btn-primary:hover{
color: #003566 !important;
}

:root {
  --base-blue: 0, 53, 102;
  --dark-blue: 0, 29, 61;
  --light-blue: 14, 99, 179;
  --base-yellow: 255, 195, 0;
  --light-yellow: 255, 214, 10;
  --sd-color-primary: #003566;
  --sd-color-dark: #003566;
  --sd-color-primary-text: #FFC300;
  --sd-color-primary-highlight: #FFC300;
  --pst-color-primary: var(--base-blue);
  --pst-color-warning: var(--light-yellow);
  --pst-color-info: var(--light-blue);
  --pst-color-admonition-default: var(--light-blue);

    --pst-color-link: var(--light-blue);
    --pst-color-link-hover: var(--dark-blue);

    --pst-color-active-navigation: var(--dark-blue);
    --pst-color-hover-navigation: var(--base-yellow);

    --pst-color-navbar-link: var(--base-blue);
    --pst-color-navbar-link-hover: var(--pst-color-hover-navigation);
    --pst-color-navbar-link-active: var(--pst-color-active-navigation);

    --pst-color-sidebar-link: var(--base-blue);
    --pst-color-sidebar-caption: var(--base-blue);
    --pst-color-sidebar-link-hover: var(--pst-color-hover-navigation);
    --pst-color-sidebar-link-active: var(--pst-color-active-navigation);

    --pst-color-toc-link: var(--base-blue);
    --pst-color-toc-link-hover: var(--pst-color-hover-navigation);
    --pst-color-toc-link-active: var(--pst-color-active-navigation);
}

table.need {
background-color: #001D3D;
color: #FFC300;
width: 100%;
table-layout: fixed;
}

table.need a,
div.admonition a {
color: #7AB5E6;
}

table.need strong {
color: #FFC300;
}

table.need .needs_tags .needs_data {
color: rgba(var(--pst-color-inline-code),1);
}
.needs_side img{
width: 200px;
position: absolute;
translate: -100%;
}

table.need div[class*="highlight-"] {
margin: 1em 2.5em;
}

.ipa-dot, .ipa-icon{
color:#003566;
}

.ipa-dot {
    line-height: inherit!important;
    vertical-align: middle;
    font-size:0.5em;
    }

div.admonition {
background-color: #003566;
color: #FFC300;
}

.admonition.warning > .admonition-title::before,
.admonition.note > .admonition-title::before,
div.admonition.warning > .admonition-title::before,
div.admonition.note > .admonition-title::before,
div.admonition > .admonition-title::before {
color: #003566;
width: 1em;
height: 1em;
left: 0.5em;
}

div.admonition.admonition-pronunciation-dictionaries p.admonition-title::before{
content: "\f891"
}

div.admonition.admonition-g2p-models p.admonition-title::before{
content: "\f519"
}

div.admonition.admonition-acoustic-models p.admonition-title::before{
content: "\f3c9"
}

div.admonition.admonition-language-models p.admonition-title::before{
content: "\f1ab"
}

table.need .admonition-title,
div.admonition.warning > .admonition-title,
div.admonition.note > .admonition-title,
div.admonition p.admonition-title {
background-color: #FFC300;
color: #000814;
}

table.need p,
div.admonition p {
color: #FFFFFF;
}

table.need a:hover,
div.admonition a:hover {
color: #7AB5E6;
}

table.need div.admonition li a {
font-size: 1.2em;
}

table.need.head {
background-color: #003566;
color: #FFC300;
}

.sd-btn-navigation{
    background-color: #0E63B3;
    border-color: #0E63B3;
}
.sd-btn-navigation:hover {
    background-color: #FFC300;
    border-color: #FFC300;
    color: #000814;
}
.i-navigation{
    color: #003566;
    padding: 20px;
}

.navbar-light .navbar-nav li a.nav-link:{
font-size: 1.15em;
}

.rst-table-cell{
width: 100%;
height: 100%;
display: inline-block;
text-align: center;

}

.supported {
background-color: #E9F6EC;
}

.not-supported {
background-color: #FBEAEC;
}
#navbar-icon-links i.fa-github-square::before, i.fa-github-square::before {
    color: inherit;
}

dt:target {
background-color: #FFD60A;
}
